---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'MSR Cloud',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get started',
        href: '#',
        target: '_blank',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Cloud platform for <span class="text-accent dark:text-white highlight">Microservices</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold">MSR Cloud</span> provides a platform for developers to quickly host their services in no
      time.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note
    text="MSR Cloud uses MSR under the hood. You can use MSR to bootstrap your own MSR Cluster if you already have your infrastructure (aka self-host)."
  />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with MSR Cloud"
    subtitle=""
    items={[
      {
        title: 'Simple',
        description: 'Just simple clicks, we’ll ship your code to the internet right away.',
        icon: 'tabler:click',
      },
      {
        title: 'Performance',
        description: 'Powered by EPYC & Xeon processors give your services massive processing power.',
        icon: 'tabler:server-bolt',
      },
      {
        title: 'Flexibility',
        description:
          'We provide systems to run any containerized apps so you’re free to use any programming language for your services.',
        icon: 'tabler:code',
      },
      {
        title: 'Automated',
        description:
          ' Connect your GitHub repository, and we will do the rest of the build & deployment process for you.',
        icon: 'tabler:robot-face',
      },
      {
        title: 'Low latency',
        description:
          'We provide multiple regions (asia, us, eu,…) to reduce the latency to your users and your databases.',
        icon: 'tabler:world',
      },
      {
        title: 'Cost Effective',
        description: 'Auto-scaled-to-zero services (idle services) will not charge you any cent.',
        icon: 'tabler:rosette-discount',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get started',
        href: '#',
        target: '_blank',
      },
      {
        variant: 'secondary',
        text: 'View Pricing',
        href: '/pricing',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title"> Simple fee calculation </Fragment>

    <Fragment slot="subtitle">
      Pay only for your resources, no matter how many people in your team. <br />Free management fee
    </Fragment>
  </CallToAction>
</Layout>
